@import '../../sass/mixin';

.section {
  padding: 140px 0;
}
.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;

  margin-bottom: 50px;
}
.list {
  display: flex;
  flex-direction: column;

  gap: 20px;
  margin-bottom: 50px;

  @include mq(tab) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  @include mq(desk) {
    gap: 29px;
  }
}
