.fieldset {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.label {
  display: flex;
  align-items: center;
}
.span {
  display: block;
  width: 20px;
  height: 20px;

  border: 1px solid #d0cfcf;
  border-radius: 50%;

  margin-right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.check {
  display: block;
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: var(--secondary-color);
}

// скрываем инпут
.input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
